body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 1750px;
    height: 15cm;
    text-align: center;
}
.buttons {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.buttons button {
    width: 100px;
    height: 40px;
    font-size: 16px;
}
.content {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 20px;
}
.image {
    width: 600px;
    height: 400px;
    margin: 0 auto 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text {
    margin: 30px 0;
    text-align: center;
}
.footer {
    padding: 4px;
    background-color: lightgray;
}